
<!DOCTYPE html>
<html lang="ru">

<head>
<meta charset="utf-8" />
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Презентация CraftBiped 8.0 - Видео - CraftBiped</title>
  <link rel="icon" href="/assets/favicon.ico"><!-- 32×32 -->
<link rel="stylesheet" type="text/css" href="/assets/styles.css" />
<div id="customcss">
</div>
<script src="/assets/jquery.js"></script>
</head>
<body>
<!-- страница 
<div style="position: relative; width: 100%; padding-top: 56.25%; "><iframe src="https://kinescope.io/embed/8xVr6kqyxVwpPa7nbj5v5q" allow="autoplay; fullscreen; picture-in-picture; encrypted-media; gyroscope; accelerometer; clipboard-write;" frameborder="0" allowfullscreen style="position: absolute; width: 100%; height: 100%; top: 0; left: 0;"></iframe></div>
-->
<center>
</center>
<br>
<script src="https://kinescope.io/b7sAsCsftvfWUg6KDctbjt/popup.js?aspect_ratio=16/9"></script>
<br>
<h1>Презентация CraftBiped 8.0</h1>
<h3>Дата публикации: 22.02.2025</h3>
<br>
<br><br><br><br><br><br>
<!-- Конец страницы -->
<!--
<script src="/assets/main.js"></script>
-->
</body>
</html>
